body
{
    font-family: 'Raleway', sans-serif;
  background: #E2E8DD;

}

.header_div
  {
  background: #8cc9a2;
  color: white; 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }

  
  .copy_right_footer {
   position: fixed;
   color: #000000;
   bottom: 0;
   width: 100%;
   font-size: 18px;
   background-color: #c8ebbd;
   line-height: 3;
   text-align: center;
   text-shadow: 5px 5px 5px rgb(198, 198, 198);
}


.copy_right_footer:hover{
    color: white;
    background-color: #a5d5ff;
}